*{
    color: white;
    font-size: 25px;
}
body {
    background-image: url('../ASSETS/8machine-_-LhNDEs4MP5w-unsplash.jpg');
    background-attachment: fixed;
    min-height: 100%;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    transition: background-image 1s ease-in-out;
    display: flex;
    justify-content: center;
}
nav{
    display: flex;
    justify-content: space-between;
    font-size: 30px;
    background-color: rgba(27, 27, 27, 0.3); /* Necesita transparencia */
    backdrop-filter: blur(4px);
    position: s;
    margin-bottom: 20px;
}
.form{
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 30px;
    border-radius: 15px;
    background-color: rgba(27, 27, 27, 0.3); /* Necesita transparencia */
    backdrop-filter: blur(4px);
    margin-top: 10px;
    margin-bottom: 20px;
    transition: background-color 1s; ;
}
.form:hover{
background-color:rgba(0, 0, 0, 0.8);
backdrop-filter: blur(10px);
}

.passwordForm{
    display: flex;
    flex-direction: column;
}
input{
    color: black;
    padding: 10px;
    border: none;
    border-radius: 5px;
}
button{
    background-color: navy;
    padding: 10px;
    border-radius: 5px;
    border: none;
    transition: hover 1s;

}

button:hover{
    background-color: rgb(3, 3, 90);
}
.card{
    background-color: rgba(27, 27, 27, 0.3);
    backdrop-filter: blur(4px);
    padding: 10px;
    border-radius: 5px;
    width: 100px;
    height: 100px;
    margin: 25px;
}
 
.clock-container{
    font-size: 25px;
}
#digital-clock{
    display: flex;
    justify-content: center;
    font-size: 40px;
}

.clima-container{
    background-color: rgba(27, 27, 27, 0.3);
    backdrop-filter: blur(4px);
    overflow-y: scroll;
    width: auto;
    height: 400px;
}